# For advice on how to change settings please see

[mysqld]
# ----------------------------------------------
# Enable the binlog for replication & CDC
# https://debezium.io/documentation/reference/0.10/connectors/mysql.html#setting-up-mysql
# ----------------------------------------------
server-id         = 223344
log_bin           = mysql-bin
binlog_format     = row
binlog_row_image  = full
binlog_expire_logs_seconds = 81920
binlog_transaction_compression = on

# ----------------------------------------------
# Enable GTID
# With Debezium gtid_mode must be true, with Maxwell gtid_mode must be false
# https://maxwells-daemon.io/config/
# ----------------------------------------------
gtid_mode                = OFF
enforce_gtid_consistency = OFF
